.nb-section {
  height: 85vh;
  width: 100%;
  padding: 40px 0;
  display: flex;
  justify-content: center;
}

.nb-image-wrapper {
  position: relative;
  width: 95%;
  border-radius: 25px;
  overflow: hidden;
}

/* stacked images */
.nb-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  transform: translateY(100%);
  opacity: 0;
  transition: 0.7s ease-in-out;
}

/* visible image animates bottom → top */
.nb-image.active {
  transform: translateY(0%);
  opacity: 1;
}

/* center main title */
.nb-center-title {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.8);
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
}

/* text list overlay */
/* bottom area text grid - 4 columns */
.nb-text-grid {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px 20px;
  
}

/* each text item */
.nb-text {
  margin: auto;
  width: 100%;
  padding: 0% 20%;
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  line-height: 1.3;
  cursor: pointer;
  transition: 0.3s ease;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.55), 0 8px 20px rgba(0, 0, 0, 0.45);
  border-right: 2px solid white;
}

/* hover + active highlight */
.nb-text:hover,
.nb-text.active {
  color: rgba(255, 255, 255, 1);
  transform: translateY(-50px);
  background-color: transparent;
  font-weight: 600px;
}

/* IMAGES — stacked and animated */
.nb-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateY(0%);
  opacity: 0;
  transition: transform 0.7s ease, opacity 0.7s ease;
}

/* current visible image */
.nb-image.active {
  transform: translateY(0);
  z-index: -1;
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

/* previous image slides up and fades */
.nb-image.exit {
  transform: translateY(0%);
  opacity: 0;
}
