.hero-video-section {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.hero-video,
.hero-video-fallback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 16/9;
}

.hero-video-fallback {
  display: none;
}

.hero-overlay {
  position: absolute;
  bottom: 80px;
  left:80px;
  /* transform: translate(-50%, -50%); */
  color: white;
  max-width: 600px;
  backdrop-filter: blur(2px);
}

.hero-overlay h1 {
  font-size: 70px;
  margin-top: 0px;
  color: transparent; /* remove fill */
  -webkit-text-stroke: 0.5px #ffffff;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.6); */
}

.hero-overlay p {
  text-align: left;
  font-size: 18px;
  opacity: 0.9;
  color: #fffffff1;
  font-style: italic;
}

.facilities-wrapper {
  width: 100%;
  max-width: 1800px;
  margin: auto;
}

/* -------- FACILITIES -------- */

.facilities-section {
  display: flex;
  gap: 40px;
  padding: 80px 0;
  align-items: flex-start;
}
.text-side {
  width: 50%;
}

.text-side .tag {
  color: #d8a23d;
  letter-spacing: 2px;
  font-size: 12px;
}

.text-side h2 {
  font-size: 36px;
  margin: 10px 0 10px 0;
  color: #b92127;
}
.text-side p {
  color: rgba(0, 0, 0, 0.9);
  line-height: 1.4;
  font-size: 18px;
}
.tag {
  color: #d8a23d;
  letter-spacing: 2.5px;
  font-size: 12px;
  margin-bottom: 5px;
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
}

.icon-box {
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 14px;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.9);
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  opacity: 1;
}

.icon-box:hover {
  transform: translateY(-4px) scale(1.02);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  border-color: rgba(0, 0, 0, 0.3);
}

.icon-box svg {
  font-size: 22px;
  color: #d8a23d;
}

/* -------- ARRIVAL SECTION -------- */

.arrival-section {
  padding: 60px 0;
}
.arrival-section h2 {
  color: #b92127;
  font-size: 36px;
}
.services-header p {
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.3;
}

.arrival-images {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
  overflow: hidden;
}
.arrival-images div{
  overflow: hidden;
  position: relative;
}
.arrival-images img {
  width: 100%;
  height: 560px;
  object-fit: cover;
}

/* -------- AMENITIES & SERVICES -------- */

.services-section {
  padding: 70px 0;
}
.services-header h2 {
  color: #b92127;
  font-size: 36px;
}

.services-header p{
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
}
.services-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
}

.service-card div {
  overflow: hidden;
  position: relative;
}
.blog-reveal {
  position: absolute;
  inset: 0;
  background: #ffffff;
  transform-origin: top top !important;
  transform: scaleY(1);
  pointer-events: none;
}

.service-card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  overflow: hidden;
  transition: transform 0.4s ease;
}

.service-card:hover img {
  transform: scale(1.08);
}

.service-card h3 {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 5px;
}

.service-card p {
  font-size: 15px;
  opacity: 0.6;
}

/* -------- MOBILE -------- */
@media (max-width: 768px) {
  .facilities-section {
    flex-direction: column;
  }

  .icon-grid,
  .arrival-images,
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* floor map section */

.fp-book-section {
  text-align: center;
  padding: 40px 20px;
}

.fp-book-title {
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 2PX;
  margin-bottom: 25px;
  color: #b92127;
}

.fp-flipbook {
  margin: 0 auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* Page */
.fp-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
}



/* Front: Image */
.fp-front .fp-image {
  width: 100%;
  max-height: 80%;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 12px;
}

.fp-page-title {
  font-size: 1.15rem;
  font-weight: 600;
  color: #333;
  font-family: "Poppins", sans-serif;
}

/* Back: Details */
.fp-back {
  text-align: left;
  padding: 50px;
}

.fp-description {
  font-size: 0.95rem;
  margin-bottom: 15px;
  color: #555;
  
}

.fp-details-list {
  list-style: none;
  padding: 0;
}

.fp-details-list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

.fp-details-list span {
  color: #444;
}

.fp-details-list strong {
  color: #463636;
  
}

.fp-tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.fp-tab {
  background: #eee;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.fp-tab:hover {
  background-color: #B27F38;
  color: white;
  transform: translateY(-2px);
}
.active{
  background-color: #B27F38;
  color: white;
}



/* map section */
.map-section {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 7rem;
}

.map-title {
  font-family: "Cormorant Garamond", serif;
  font-size: 38px;
  font-weight: 600;
  text-align: center;
  margin: 30px 0 10px;
}

.map-wrapper {
  width: 100%;
  height: 60vh;
  position: relative;
}

/* key rule for iframe */
.map-wrapper iframe {
  border: 0;
  width: 100%;
  height: 100%;
}
