:root {
  --footer-bg: linear-gradient(160deg, #d3b071,#b17e38 );
  --footer-text-white: #fff;
  --footer-text-muted: rgba(0, 0, 0, 1);
  --footer-text-dark: rgba(0, 0, 0, 1);
  --footer-text-black: #000000;
  --footer-accent: bLACK;
  --footer-border: rgba(0, 0, 0, 0.3);
  --hover:#006c70;
}

/* ================= FOOTER ================= */
.footer {
  padding: 80px 20px 40px;
  background: var(--footer-bg);
  color: var(--footer-text-white);
}
.footer a:hover{
  color:  var(--hover)!important;
}

.footer-inner {
  max-width: 1600px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  gap: 30px;
  align-items: start;
}

/* Brand */
.footer-brand p {
  max-width: 360px;
  font-size: 18px;
  line-height: 1.4;
  margin-top: 10px;
  color: var(--footer-text-muted);
}

.footer-nav h4,
.footer-policy h4,
.footer-connect h4 {
  margin-bottom: 12px;
  font-size: 16px;
  color: var(--footer-accent);
  text-transform: uppercase;
}

.footer-nav a,
.footer-policy a {
  display: block;
  position: relative;
  color: var(--footer-text-dark);
  text-decoration: none;
  margin-bottom: 10px;
  padding-bottom: 4px;
}

.footer-nav a::after,
.footer-policy a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 1px;
  background: var(--hover)!important;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
}

.footer-nav a:hover::after,
.footer-policy a:hover::after {
  transform: scaleX(1);
}

/* Connect Column */
.footer-connect .social-icons {
  display: flex;
  gap: 16px;
  margin-bottom: 5px;
}

.footer-connect .social-icons a {
  font-size: 20px;
  color: var(--footer-text-black);
  transition: color 0.3s ease, transform 0.3s ease;
  -webkit-transition: color 0.3s ease, transform 0.3s ease;
  -moz-transition: color 0.3s ease, transform 0.3s ease;
  -ms-transition: color 0.3s ease, transform 0.3s ease;
  -o-transition: color 0.3s ease, transform 0.3s ease;
}

.footer-connect .social-icons a:hover i {
  color: var(--footer-accent);
  transform: scale(1.2);
}

/* Footer Bottom */
.footer-bottom {
  margin-top: 40px;
  text-align: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
  border-top: 1px solid var(--footer-border);
  padding-top: 20px;
}

.footer-connect p {
  color: var(--footer-text-black);
}

/* Responsive */
@media screen and (max-width: 1024px) {
  .footer-inner {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    text-align: center;
  }

  .footer-connect .social-icons {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .footer-inner {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
