/* :root {
  --nav-bg: rgba(180, 224, 252, 0.9);
  --nav-shadow: rgba(0, 0, 0, 0.15);
  --text-light: #111;
  --text-dark: #111;
  --hover-accent: #b17521;
  --sidebar-bg: rgba(255, 255, 255, 0.96);
  --sidebar-hover: #b17521;
} */

:root {
  --nav-bg: linear-gradient(160deg, #d3b071,#b17e38 );
  --nav-shadow: rgba(0, 0, 0, 0.15);
  --text-light: #fff;
  --text-dark: #111;
  --hover-accent: #93d6f5; 
  --sidebar-bg: rgba(255, 255, 255, 0.96);
  --sidebar-hover:#38bdfa;
}

/* :root {
  --nav-bg: #d3b071;
  --nav-shadow: rgba(0, 0, 0, 0.15);
  --text-light: #fff;
  --text-dark: #111;
  --hover-accent: #a86e02;
  --sidebar-bg: rgba(255, 255, 255, 0.96);
  --sidebar-hover: #a86e02;
} */
/* :root {
  --nav-bg: #d6ebe2;
  --nav-shadow: rgba(0, 0, 0, 0.15);
  --text-light: #a86e02;
  --text-dark: #111;
  --hover-accent: #a86e02;
  --sidebar-bg: rgba(255, 255, 255, 0.96);
  --sidebar-hover: #a86e02;
} */



/* ================= NAVBAR ================= */
.navbar {
  position: fixed;
  top: -2px;
  width: 100%;
  z-index: 1000;
  background: var(--nav-bg);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 8px 32px var(--nav-shadow);
  transition:
    background 0.3s ease,
    backdrop-filter 0.3s ease;
}

.nav-container {
  max-width: 90%;
  margin: auto;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  gap: 32px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-light);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  transition: color 0.3s ease;
}
.nav-links a:hover {
  color: var(--hover-accent) !important; /* ✅ same as normal */
}

/* SCROLLED */
.navbar.scrolled {
  background: var(--nav-bg);
  backdrop-filter: blur(12px);
}

.navbar.scrolled a {
  color: var(--text-dark);
}
.navbar.scrolled a:hover {
  color: var(--hover-accent) !important;
}

/* MENU */
.menu-toggle {
  display: flex;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.menu-toggle span {
  width: 24px;
  height: 2px;
  background: var(--text-light);
  transition: background 0.3s ease;
}

.menu-toggle:hover span {
  background: var(--hover-accent) !important;
}

/* When navbar is scrolled */
.navbar.scrolled .menu-toggle span {
  background: var(--text-dark);
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 340px;
  height: 100vh;
  background: var(--sidebar-bg);
  backdrop-filter: blur(12px);
  z-index: 2000;
  padding: 120px 40px;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
}

.sidebar-links a {
  font-size: 18px;
  text-decoration: none;
  color: var(--text-dark);
  padding: 12px 0px;
  transition: color 0.3s ease;
}

/* CLOSE ICON */
.sidebar-close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  cursor: pointer;
}

.sidebar-close span {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--text-dark);
  transition: background 0.3s ease;
}
.sidebar-close:hover span {
  background: var(--sidebar-hover);
}

.sidebar-close span:first-child {
  transform: rotate(45deg);
}
.sidebar-close span:last-child {
  transform: rotate(-45deg);
}

.sidebar-links-mobile {
  display: none;
}

/* SUBMENU */
.submenu {
  display: flex;
  overflow: hidden;
  height: 0px;
  margin-top: 0px;
  flex-direction: column;
  gap: 10px;
  margin-left: 5%;
  font-size: 12px;
  transition: all ease-in 0.2s;
}
.submenu a {
  font-size: 16px;
  padding: 0;
}
.sidebar-links a:hover {
  color: var(--sidebar-hover) !important;
}
.sidebar-links-project:hover + .submenu {
  height: 70px;
}
.submenu:hover {
  height: 70px;
}

@media (max-width: 1024px) {
  .nav-links a {
    display: none;
  }
  .sidebar-links-mobile {
    display: inline;
  }
  .sidebar-links-project {
    display: none !important;
  }
}
