.navbar {
  position: fixed;
  top: -2px;
  width: 100%;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
  border-radius: 0 0 10px 10px;
  transition: background 0.3s ease, backdrop-filter 0.3s ease;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  -webkit-transition: background 0.3s ease, backdrop-filter 0.3s ease;
  -moz-transition: background 0.3s ease, backdrop-filter 0.3s ease;
  -ms-transition: background 0.3s ease, backdrop-filter 0.3s ease;
  -o-transition: background 0.3s ease, backdrop-filter 0.3s ease;
}

.nav-container {
  max-width: 90%;
  margin: auto;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  gap: 32px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all ease 0.3s;
}
.nav-links a:hover {
  color: rgb(185, 33, 39);
}

/* SCROLLED */
.navbar.scrolled {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(12px);
}

.navbar.scrolled a {
  color: #111;
}

/* MENU */
.menu-toggle {
  display: flex;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.menu-toggle span {
  width: 24px;
  height: 2px;
  background: #fff;
  transition: background 0.3s ease;
}

/* Hover effect on the span itself */
.menu-toggle:hover span {
  background: rgb(185, 33, 39);
}
.sidebar-close:hover span {
  background: rgb(185, 33, 39);
}

/* When navbar is scrolled */
.navbar.scrolled .menu-toggle span {
  background: #111;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 340px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.96);
  backdrop-filter: blur(12px);
  z-index: 2000;
  padding: 120px 40px;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  /* gap: 24px; */
}

.sidebar-links a {
  font-size: 18px;
  text-decoration: none;
  color: #111;
  padding: 12px 0px;
}
.sidebar-links a:hover{
 color: rgb(185, 33, 39);
}
/* CLOSE ICON */
.sidebar-close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  cursor: pointer;
}

.sidebar-close span {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #111;
}

.sidebar-close span:first-child {
  transform: rotate(45deg);
}

.sidebar-close span:last-child {
  transform: rotate(-45deg);
}
.sidebar-links-mobile {
  display: none;
}
.submenu {
  display: flex;
  overflow: hidden;
  height: 0px;
  margin-top: 0px;
  flex-direction: column;
  gap: 10px;
  margin-left: 5%;
  font-size: 12px;
  transition: all ease-in 0.2s;
  -webkit-transition: all ease-in 0.2s;
  -moz-transition: all ease-in 0.2s;
  -ms-transition: all ease-in 0.2s;
  -o-transition: all ease-in 0.2s;
}
.submenu a {
  font-size: 16px;
  color: rgba(17, 17, 17, 0.514);
  padding: 0;
}
.sidebar-links-project:hover + .submenu {
  height: 70px;
}
.submenu:hover{
  height: 70px;
}


@media (max-width: 768px) {
  .nav-links a {
    display: none;
  }
  .sidebar-links-mobile {
    display: inline;
  }
}