@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Inter", sans-serif; */
  font-family: "Cormorant Garamond", serif;
  overflow-x: hidden;
}

a {
  transition: all ease 0.3s;
}

a:hover {
  color: rgb(185, 33, 39) !important;
}
.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
