.project-slider-home {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 80px;
  /* background-color: #555; */
}

.project-slider-home h2 {
  width: 90%;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -0.5px;

  text-transform: uppercase;
  color: #b27f38;
}

.project-slider-home p {
  width: 90%;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.3;
  margin-bottom: 20px;
  font-weight: 500;
}
.project-swiper {
  width: 90%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
}

.project-slide {
  position: relative;
  display: flex;
  background: #634848;
  background-size: cover;
  background-position: start;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 650px;
}

/* Left image */
.project-image {
  width: 60%;
  position: relative;
}
.project-image img{
  height:100% ;
}
/* Right angled panel */
.project-content {
  width: 40%;
  background: #ebf8ff;
  padding: 60px 100px;
  position: relative;
  clip-path: polygon(12% 0, 100% 0, 100% 100%, 0% 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

  .project-content::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/Your paragraptext.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover; /* or cover if you want fill */
    opacity: 1; /* 👈 subtle */
    z-index: 0;
  }

  .project-content > * {
    position: relative;
    z-index: 1;
  }

.project-content h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #b27f38;
}

.project-content h4 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #313131;
}

.project-content p {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 28px;
  color:  #000000;
  font-weight: 500;
}

.project-btn {
  display: inline-block;
  background: #b27f38;
  color: #fff;
  padding: 12px 26px;
  border-radius: 30px;
  font-size: 16px;
  text-decoration: none;
  width: fit-content;
  transition: 0.3s ease;
}

.project-btn:hover {
  background: transparent;
  outline: 1px solid #b27f38;
  font-weight: 500;
}

/* Responsive */
@media (max-width: 900px) {
  .project-slide {
    flex-direction: column;
    justify-content: end;
  }

  .project-image,
  .project-content {
    width: 100%;
  }
  .project-image img{
    width: 130%;
    height: 100%;
  }
  .project-content {
    clip-path: none;
    padding: 40px 25px;
  }
  .project-slider-home h2 {
    font-size: 25px;
    text-transform: uppercase;
    color: #b27f38;
  }

  .project-slider-home p {
    font-size: 15px;
  }
  .project-content h2 {
    font-size: 22px;
  }
  .project-content h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
    color: #141414;
  }

  .project-content p {
    font-size: 15px;
    line-height: 1.3;
    color: #3f3f3f;
  }
  .project-slider-home p{
    font-size: 16px;
    line-height: 1.2;
  }
}

/* Swiper pagination bullets */
.project-swiper .swiper-pagination-bullet {
  background: #bbb;
  width: 20px;
  height: 3px;
  opacity: 1;
  border-radius: 0%;
}

.project-swiper .swiper-pagination-bullet-active {
  background: #b27f38;
}
